.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1224px;
}

.App {
    text-align: center;
    border: black solid 2px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 20px;
}

.global-header__logo-lock-up span {
    flex-shrink: 0;
    display: block;
    height: 46px;
    width: 1px;
    background: #dee3e5;
    margin: 0 13px;
}

.global-header__logo-lock-up {
    display: flex;
    margin: 0 auto;
    flex-shrink: 0;
    background: none!important;
    padding: 0!important;
    text-decoration: none;
    align-items: flex-end;
}

.nav-links a {
    text-decoration: none;
}

.nav-links li {
    margin-right: 50px;
}

.projects-submit-registry-form{
    display: inline-grid;
    place-items: baseline;
    padding-left: 20px;
}

.projects-submit-registry-form button{
    margin-top: 8px;
}

.vote-button, .vote-button:focus{
    background-color: white;
    border: none;
    color: black;
    border: 2px solid #4CAF50;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
  .vote-button:hover {
    background-color: #4CAF50;
    color: white;
  }
