.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1224px;
}

.App {
    text-align: center;
    border: black solid 2px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 20px;
    margin: 10px
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 20px;
}

.global-header__logo-lock-up span {
    flex-shrink: 0;
    display: block;
    height: 46px;
    width: 1px;
    background: #dee3e5;
    margin: 0 13px;
}

.global-header__logo-lock-up {
    display: flex;
    margin: 0 auto;
    flex-shrink: 0;
    background: none!important;
    padding: 0!important;
    text-decoration: none;
    align-items: flex-end;
}

.nav-links a {
    text-decoration: none;
}

.nav-links li {
    margin-right: 50px;
}

.top-voted-title {
    padding-left: 20px;
    padding-bottom: 40px;
}

.top-voted-projects-list li {
    width: 800px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #646974;
    border-radius: 7px;
}

.top-voted-projects-list ul {
    padding-inline-start: 20px;
}

.projects-submit-registry-form {
    display: inline-grid;
    place-items: baseline;
    padding-left: 20px;
    padding-bottom: 2rem;
}

.projects-submit-registry-form button {
    margin-top: 8px;
}

.viewprojects-eligible {
    padding-left: 20px;
}

.vote-button, .vote-button:focus {
    background-color: white;
    border: none;
    color: black;
    border: 2px solid #4CAF50;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.approve-button {
    background-color: white;
    border: none;
    color: black;
    border: 2px solid #4CAF50;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.reject-button {
    background-color: white;
    border: none;
    color: black;
    border: 2px solid red;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.vote-button:hover {
    background-color: #4CAF50;
    color: white;
}

.approve-button:hover {
    background-color: #4CAF50;
    color: white;
}

.reject-button:hover {
    background-color: red;
    color: white;
}

.project-submit-input {
    height: 50px;
    border-width: 2px;
    width: 300px;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #646974;
    border-radius: 7px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-top: 7px;
    margin-bottom: 9px;
}

.project-submit-input-description {
    height: 50px;
    border-width: 2px;
    width: 900px;
    height: 370px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #646974;
    border-radius: 7px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-top: 7px;
    margin-bottom: 9px;
}

.project-submit-button {
    font-size: 1.125rem;
    padding-top: calc((52px - 1.5rem)/2);
    padding-bottom: calc((52px - 1.5rem)/2);
    color: #fff;
    background-color: #c60c30;
    border: 2px solid #a71930;
    height: auto;
    width: 100%;
    padding: calc((44px - 1.5rem)/2) .75rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans-serif;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    transition: border-color .5s ease, background-color .5s ease, color .5s ease;
    width: auto;
    min-width: 200px;
    
}

.projects-submit-registry-form label {
    font-size: 16px;
    font-family: "Gotham A", "Gotham B", Helvetica, Arial, Sans-Serif;
    font-weight: 500;
   
}

.projects-submit-registry-form input {
    font-size: 16px;
    font-family: "Gotham A", "Gotham B", Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}

.footer {
    padding: 20px;
    background-color: gray;
    color: white;
    /* position: absolute;
    left: 0;
    bottom: 0;
    right: 0; */
}

.footer-list {
    list-style: none;
} 

.pagination-container {
    padding-left: 20px;
}